@import "variables";
@import "fonts";
@import "helpers";


// Pages
@import "./pages/profile";

body{
  background-color: #e9ebee;
}
nav{
  &#main {
    .brand-logo{
      height: inherit;
        img {
          height: inherit;
        }
    }
  }
}
