@import "variables";
@import "fonts";
@import "helpers";


// Pages
@import "./pages/profile";

body{
  background-color: #e9ebee;
}
nav{
  &#main {
    a:not(.btn) {
      color: black !important;
    }
    .brand-logo{
      height: inherit;
        img {
          height: inherit;
        }
    }
  }
}
