<div class="row">
  <div class="col s12 l5">
    <div class="row">
      <div class="col s12">
        <h5>Da más información a tus clientes</h5>
        <p>A tus cliente les gusta saber si trabajas a domicilio, si aceptas tarjetas de credito o si trabajas en algún local.</p>
      </div>
      <div class="col s12 m4" ng-repeat="option in vm.options">
        <div class="card">
          <div class="card-content center-align">
            <i class="fa fa-4x" ng-class="option.icon"></i>
            <p>{{option.name}}</p>
          </div>
          <div class="card-action">
            <div class="switch center-align">
              <label>
                <input type="checkbox" ng-model="vm.professional.options[option.model]">
                <span class="lever"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 input-field">
        <input type="text" id="address" ng-keyup="vm.getAddress(vm.address)" ng-model="vm.address">
        <label for="address">
          <span ng-show="vm.professional.options.store">Si trabajas en un local indicanos la dirección exacta</span>
          <span ng-hide="vm.professional.options.store">Si trabajas a domicilio indica en que localidad</span>
        </label>
        <div class="row" ng-if="vm.addressResults">
          <div class="col s12">
            <div class="collection">
              <a href="#" ng-click="vm.setAddress(item);" class="collection-item" ng-repeat="item in vm.addressResults">{{item.formatted_address}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button ng-class="{'rubberBand animated' : vm.complete}" ng-disabled="!vm.complete" class="btn" ng-click="vm.updateProfessional()">
          <i class="fa fa-paper-plane-o left" aria-hidden="true"></i>
          Terminar registro
        </button>
        <div class="card-panel red white-text" ng-show="vm.error">
          Hubo un error intentelo de nuevo más tarde.
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m7 background fullscreen hide-on-med-and-down" style="background-image: url(/img/bank/shutterstock_364870454.jpg)">
    <img class="logo-background-right" src="/img/logo.png" width="100px" alt="">
  </div>
</div>
