<div class="row valign-wrapper fullscreen">
  <div class="col l8 background fullscreen hide-on-med-and-down" style="background-image: url(/img/bank/shutterstock_434065528.jpg)">
    <img class="logo-background-left" src="/img/logo.png" width="150px" alt="">
  </div>
  <div class="col s12 l4">
    <div class="row">
      <div class="col s12 center-align">
        <i class="fa fa-paper-plane fa-5x" aria-hidden="true"></i>
        <h5>Gracias por registrarte</h5>
        <p>Te hemos enviado un email para que valides tu correo y así se active tu perfil.</p>
      </div>
      <div class="col s12 center-align">
        <div>Si ya lo has validado pulsa en el botón de abajo para entrar y editar tu perfil</div>
        <a class="btn waves-effect waves-light" href="/professional/login">
          <i class="fa fa-sign-in left" aria-hidden="true"></i>
          Acceder
        </a>
      </div>
    </div>
  </div>
</div>
