@charset "UTF-8";
.kurale-font, #profile #modal-tutorial .carousel .carousel-item .container h4, #profile h5, #profile header h4, #notfound h1 {
  font-family: 'Kurale', serif; }

.font-size-2x {
  font-size: 2em; }

.margin-left-05em {
  margin-left: .5em; }

.margin-top-2em {
  margin-top: 2em; }

.shadow-text, #profile nav .brand-logo .avatar + form label i {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); }

.background-image, #notfound .background, #subscription_thanks {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important; }

.fullscreen, #subscription_thanks {
  height: 100vh !important; }

.screen-80 {
  height: 80vh !important; }

.first-letter-uppercase:first-letter {
  text-transform: uppercase; }

.letter-capitalize {
  text-transform: capitalize; }

.degradate-background, #profile header {
  background: linear-gradient(50deg, #2fffc5, #3535d0); }

#profile {
  /*
    Header: Este elemento contendra un fondo o un degradado.
  */
  /*
    Nav: contendra la navegación y el avatar del usuario.
  */
  /*
    Cards
  */ }
  #profile #modal-tutorial {
    max-height: 100% !important; }
    #profile #modal-tutorial .carousel {
      height: 500px; }
      #profile #modal-tutorial .carousel .carousel-item .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        #profile #modal-tutorial .carousel .carousel-item .container i {
          margin-bottom: 20px; }
        #profile #modal-tutorial .carousel .carousel-item .container p {
          font-weight: lighter; }
  #profile #btn-background {
    margin-bottom: -100px;
    margin-left: 20px; }
  #profile header {
    height: 200px;
    position: relative; }
    #profile header h4 {
      position: absolute;
      right: 0.5em;
      bottom: 0; }
  #profile nav a {
    color: black !important; }
  #profile nav .brand-logo .avatar {
    width: 150px;
    border-radius: 3px;
    border: 4px solid white;
    margin-top: -4em; }
    @media (min-width: 600px) {
      #profile nav .brand-logo .avatar {
        margin-left: 1em; } }
    #profile nav .brand-logo .avatar + form {
      margin-top: -60px;
      position: relative; }
      #profile nav .brand-logo .avatar + form label {
        margin-left: 1em; }
        #profile nav .brand-logo .avatar + form label i {
          color: white !important; }
  #profile #services .card .card-image {
    overflow: hidden; }
    #profile #services .card .card-image span {
      pointer-events: none; }
    #profile #services .card .card-image img {
      transition: all 500ms ease; }
      #profile #services .card .card-image img:hover {
        transform: scale(1.5);
        transition: all 500ms ease; }
  #profile .card .card-image .top-fab {
    position: absolute;
    top: 1em;
    right: 1em; }

#home #professionals {
  overflow: hidden;
  min-height: 200px; }

@media (min-width: 600px) {
  #results .not-results {
    height: 100vh; } }

#results .card .card-image .gradiant {
  background: linear-gradient(50deg, #2fffc5, #3535d0);
  width: 100%;
  height: 150px; }

#results .card .card-content {
  position: relative; }
  #results .card .card-content .avatar {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0; }
    #results .card .card-content .avatar img {
      border: solid 5px white;
      width: 100px;
      margin-top: -100px; }
  #results .card .card-content p {
    font-size: .8em; }

#notfound .background {
  height: 100vh;
  background-image: url("/img/404.jpg"); }

@media (max-width: 600px) {
  #notfound h1 {
    text-align: center; } }

#subscription_plans .card .card-content {
  position: relative; }
  #subscription_plans .card .card-content ul {
    padding-left: 1.5em; }
    #subscription_plans .card .card-content ul li {
      position: relative; }
      #subscription_plans .card .card-content ul li::before {
        position: absolute;
        content: "\f00c";
        font-family: FontAwesome;
        left: -1.5em; }

#subscription_plans .top-color {
  text-align: center;
  color: white;
  background: #00838f; }

#subscription_plans .big-number {
  font-size: 4em; }

#subscription_pay #stripe-card {
  margin: 1em 0px;
  padding: 1em; }

#subscription_thanks {
  background-image: url(/img/bank/subscription_thanks.jpg);
  background-attachment: fixed;
  background-position: top !important; }

#ads-professional .valign-wrapper {
  flex-flow: column; }

@media (min-width: 600px) {
  #ads-professional .valign-wrapper {
    flex-flow: row; } }

#ads-professional .divider {
  margin: 1em 0; }

#ads-professional .down {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center; }
  #ads-professional .down i {
    animation: beating 3s ease infinite;
    cursor: pointer; }

#ads-professional .parallax {
  background: black; }
  #ads-professional .parallax img {
    opacity: .6; }

body {
  background-color: #e9ebee; }

.user-view .background img {
  width: 100%; }

.btn {
  background: #00838f; }

nav#main a:not(.btn) {
  color: black !important; }

nav#main .brand-logo {
  height: inherit; }
  nav#main .brand-logo img {
    height: inherit; }

/*
Modales.
*/
.modal.crop {
  max-height: 100%;
  height: 100%;
  top: 0 !important; }

footer {
  font-weight: lighter; }
  footer a.circle-icon {
    height: 50px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;
    background: white; }
  footer .footer-copyright a {
    margin-right: 15px;
    color: white; }

i.beats {
  position: absolute;
  top: 5%;
  left: 5%;
  text-shadow: 0px 0px 7px white;
  animation: beating 3s ease infinite;
  z-index: 100; }

@keyframes beating {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(0.97); }
  35% {
    transform: scale(0.9); }
  45% {
    transform: scale(1.1); }
  55% {
    transform: scale(0.9); }
  65% {
    transform: scale(1.1); }
  75% {
    transform: scale(1.03); }
  100% {
    transform: scale(1); } }
