doctype html
html
  head
  body
    div(style="font-family: Helvetica, Arial, sans-serif; text-align: left")
      h3 Hola #{professional.first_name},
      p Te hemos enviado este email porque no te acuerdas de tu contraseña o quieres cambiarla, pulsa en el enlace y podrás cambiar tu contraseña.
      a(href="#{url}") #{url}
      p Gracias, el equipo de urbhair.com
      p
        small Todos los derechos resevados
