doctype html
html
  head
  body
    h2 Cambia tu contraseña
    p Este email te  ha llegado porque nos has pedido modificar tu contraseña porque no la recuerdas o porque quieres cambiarla, pulsa en el enlace de abajo y podras cambiar tu contraseña.
    a(href="#{url}") #{url}
    p
      small Todos los derechos reservados.
