#profile {
  h5 {
    @extend .kurale-font;
  }
  #btn-background{
  	margin-bottom: -100px;
  	margin-left: 20px;
  }
  /*
    Header: Este elemento contendra un fondo o un degradado.
  */
  header{
    height: 200px;
    background: linear-gradient(50deg, #2fffc5, #3535d0);
    position: relative;
    h4{
      position:absolute;
      right: 0.5em;
      bottom: 0;
      @extend .kurale-font;
    }
  }
  /*
    Nav: contendra la navegación y el avatar del usuario.
  */
  nav {
    a{
      color:black !important;
    }
    .brand-logo{
      .avatar{
        width: 150px;
        border-radius: 3px;
        border: 4px solid white;
        margin-top: -4em;
        @media (min-width: 600px){
          margin-left: 1em;
        }
        & + form {
          margin-top: -60px;
          position: relative;
          label {
            margin-left: 1em;
            cursor: pointer;
            height: 50px;
            i {
              @extend .shadow-text;
              color:white !important;
            }
          }
        }
      }
    }
  }
  /*
    Cards
  */
  .card{
    .card-image{
      // Si dentro del card-image tienen la clase .top-fab lo posicionamos arriba a la derecha.
      .top-fab {
        position: absolute;
        top: 1em;
        right: 1em;
      }
    }
  }
  /*
  Modales.
  */
  .modal {
    &.crop {
      max-height: 100%;
      height: 100%;
      top:0 !important;
    }
  }
}
