#results {
  .not-results {
    @media (min-width: 600px) {
      height: 100vh;
    }
  }
  .card {
    .card-image {
      i.beats {
        position: absolute;
        top: 5%;
        left: 5%;
        text-shadow: 0px 0px 7px white;
        animation: beating 3s ease infinite;
        z-index: 100;
      }
      @keyframes beating {
        0% {transform: scale(1);}
         25% {transform: scale(.97);}
         35% {transform: scale(.9);}
         45% {transform: scale(1.1);}
         55% {transform: scale(.9);}
         65% {transform: scale(1.1);}
         75% {transform: scale(1.03);}
         100% {transform: scale(1);}
      }
      .gradiant {
        background: linear-gradient(50deg, #2fffc5, #3535d0);
        width: 100%;
        height: 150px;
      }
    }
    .card-content {
      position: relative;
      .avatar {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        img {
          border: solid 5px white;
          width: 100px;
          margin-top: -100px;
        }
      }
      p {
        font-size: .8em;
      }
    }
  }
}
