extends ../layout
block content
  include ../_navbar
  .container
    if subscriptions.length == 0
      .row
        each plan in plans
          .col.12.m6
            .card
              .card-content
                span.card-title #{plan.name}
                span.card-title #{plan.formatPrice}
                if plan.type == 'plus'
                  p El plan plus es la ostia
              .card-action
                a.btn(href="/subscription/#{plan.id}")
                  | suscríbete
    else
      .row
        .card
          .card-content
            span.cart-title Ya tienes una subscription
