extends ../layout
block seo
  title Accede como peluquero/a
block content
  include ../_navbar
  .container
    .row
      .col.s12.center-align.margin-top-2em
        img(src="/img/avatar_man.png" width="100")
        img(src="/img/avatar_woman.png" width="100")
        h5 Inicia sesión para profesionales
      .col.s12.m6.offset-m3
        form(action="/professional/login" method="post")
          .card
            .card-content
                .input-field
                  input#email(type="email" name="email" required)
                  label(for="email") Email
                .input-field
                  input#password(type="password" name="password" required)
                  label(for="password") Contraseña
            .card-action
              button.btn.waves-effect.waves-light(type="submit")
                i(class="fa fa-sign-in left" aria-hidden="true")
                | Inicia sesión
          if error
            .red-text.center-align
              span #{error}
    .row
      .col.s12.m6.offset-m3.center-align
        p
          a#forgetPassword(href="#") ¿Se te ha olvidado la contraseña?
        if recovery_password
          p Se ha enviado un mensaje a tu email con las instrucciones para modificar tu contraseña.
        form#formRecoveryPassword.row.hide(action="/professional/recovery_password" method="post")
          .col.s12.input-field
            input(type="email" name="email" id="email_recovery" required)
            label(for="email_recovery") Escribe tu email para recuperar tu contraseña
          .col.s12
            button.btn
              i.fa.fa-paper-plane.left(aria-hidden="true")
              | Recuperar contraseña
        p ¿No tienes cuenta? #[a(href="/register") Regístrate]
  include ../_footer
  script(src="/js/controllers/login.js")
