extends ../layout
block seo
  title Cambia tu contraseña
block content
  include ../_navbar
  if error
    .row
      .col.s12.m4.offset-m4
        .card.red.white-text
          .card-content
            span.card-title Error
            p Se ha encontrador un error al procesar su solicitud, intentelo de nuevo más tarde.
  else
    if update
      .row
        .col.s12.m4.offset-m4
          .card
            .card-content
              p Su contraseña se ha modificado correctamente. Pulse en el botón para acceder a su perfil.
            .card-action
              a.btn(href="/professional/login")
                | Accede a tu perfil
    else
      form.row(action="/professional/recovery_password/#{hash}" method="post")
        .col.s12.m4.offset-m4.input-field
          input(type="password" name="password" id="password" required minlength="6")
          label(for="password") Escribe tu nueva contraseña
        .col.s12.m4.offset-m4.input-field
          input(type="password" name="same_password" id="same_password" required minlength="6")
          label(for="same_password") Escribe otra vez tu contraseña
        .col.s12.m4.offset-m4.center-align
          button.btn#btn_recovery_password(disabled="true")
            i.fa.fa-paper-plane.left(aria-hidden="true")
            | Cambiar contraseña
  script.
    let $password = $('#password');
    let $btn_recovery_password = $('#btn_recovery_password')
    $('#same_password').on('keyup', function(e){
      let $same_password = $(this)
      console.log($password.val(), $same_password.val())
      if($password.val() == $same_password.val()) $btn_recovery_password.attr('disabled', false)
      else $btn_recovery_password.attr('disabled', true)
    })
