extends ../layout
block seo
  title Cambia tu contraseña
block content
  include ../_navbar
  .container
    .row.fullscreen.valign-wrapper
      .col.s12
        .row
          .col.s12.center-align
            i.fa.fa-check-square-o.fa-5x(aria-hidden="true")
            h3 Enhorabuena!
            h5 Hemos verificado tu cuenta de email, ya puedes acceder tu perfil.
        .row
          .col.s12.center-align
            a.btn(href="/#{professional.slug}")
              i.fa.fa-user-circle-o.left(aria-hidden="true")
              | Accede a tu perfil
