doctype html
html
  head
  body
    div(style="font-family: Helvetica, Arial, sans-serif; text-align: left")
      h3 Hola #{professional.first_name},
      p Gracias por darte de alta en #[a(href="http://urbhair.com") urbhair.com], para verificar tu email pulsa en el enlace.
      a(href="#{url}") #{url}
      p Gracias, el equipo de urbhair.com
      p
        small Todos los derechos resevados
