doctype html
html
  head
  body
    h2 Valida tu cuenta
    p Para poder utilizar nuestra plataforma necesitamos verificar su identidad, porfavor pulse en el link de abajo para verificarla.
    a(href="#{url}") #{url}
    p
      small Todos los derechos reservados.
