footer.page-footer.cyan.darken-3
	.container
		.row
			.col.s12.m6
				h5.white-text Sobre nosotros
				p.grey-text.text-lighten-4 Somos una pequeña 'start-up' dedicada al desarrollo de software para el sector de la peluqueria/estetica.
			.col.s12.m4.offset-m2
				h5.white-text Enlaces
				ul
					li
						a.grey-text.text-lighten-3(href='/professional/login') ¿Ya tienes cuenta? Accede
					li
						a.grey-text.text-lighten-3(href='/register') Registrate gratis
					li
						a.grey-text.text-lighten-3(href='/aviso-legal') Condiciones de uso y aviso legal
		//- .row
		//- 	.col.s12.center-align
		//- 		a.circle-icon
		//- 			i.fa.fa-facebook-square.fa-2x(aria-hidden="true")
		//- 		a.circle-icon
		//- 			i.fa.fa-twitter.fa-2x(aria-hidden="true")
		//- 		a.circle-icon
		//- 			i.fa.fa-google-plus.fa-2x(aria-hidden="true")
	.footer-copyright
		.container
			- var year = new Date().getFullYear()
			| © #{year} Todos los derechos resevados
			//- a.right
			//- 	i.fa.fa-paypal.fa-lg(aria-hidden="true")
			a.right
				i.fa.fa-cc-visa.fa-lg(aria-hidden="true")
			a.right
				i.fa.fa-cc-mastercard.fa-lg(aria-hidden="true")
