nav#main.white
  .nav-wrapper.container
    a.brand-logo(href='/')
      img(src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png", alt="Logotipo")
    ul#nav-mobile.right.hide-on-med-and-down
      li
        if session.professional
          a(href='/logout') Salir
        else
          a(href='/login') Acceder
