.navbar-fixed
  nav#main.white
    .nav-wrapper.container
      a.brand-logo(href='/')
        img(src="/img/logo.svg", alt="Logotipo")
      ul.right.hide-on-med-and-down
        if session.professional
          li
            a(href='/#{session.slug}')
              i.fa.fa-user-circle.left(aria-hidden="true")
              | Mi perfil
          li
            a(href='/professional/logout')
              i.fa.fa-sign-out.left(aria-hidden="true")
              | Salir
        else
          li
            a(href='/professional/login')
              i.fa.fa-sign-in.left(aria-hidden="true")
              | Inicia sesión
          li
            a.btn.waves-effect.waves-light(href="/register")
              | Registrate
      ul.right.hide-on-large-only
        li
          a.dropdown-button(href="#" data-activates="dropdown")
            i(class="fa fa-ellipsis-v" aria-hidden="true")
ul#dropdown.dropdown-content
  if session.professional
    li
      a(href='/#{session.slug}')
        | Mi perfil
    li
      a(href='/professional/logout')
        | Salir
  else
    li
      a(href='/professional/login')
        | Inicia sesión
    li
      a(href="/register")
        | Registrate
script.
  $().ready(function(){
    $(".dropdown-button").dropdown();
  })
// Aquí termina el archivo navbar
