extends layout
block content
  include _navbar
  .container
    .row
      .col.s12
        p.
          UrbHair SPAIN S.L. es una compañía española, inscrita en el Registro Mercantil de Madrid (Tomo: 22.244 Folio: 134 Sección: 2 Hoja: M-12317 Inscripción 2ª), domicilio social en Madrid (28004) con email info@UrbHair.com (en adelante UrbHair), que actúa en los ámbitos de la distribución y comercio de bienes y servicios; y es propietaria de un sitio web en Internet (en adelante, el SITIO WEB), a través del cual pone determinada información a disposición de sus usuarios así como comercializa determinados productos y presta determinados servicios. El SITIO WEB es accesible desde varios dominios o direcciones de Internet, siendo el principal de los mismos: www.UrbHair.com

        p A través del SITIO WEB, UrbHair facilita a sus Usuarios el acceso y la utilización de diversos servicios y contenidos (en adelante, los "Servicios") puestos a disposición por UrbHair o por terceros. Los presentes términos y condiciones tienen por objeto establecer y regular el acceso general al SITIO WEB, así como a los distintos contenidos y servicios prestados por UrbHair o por terceros desde y/o a través del mismo.

        p Tanto el acceso como la utilización general del SITIO WEB atribuyen la condición de usuario del mismo (en adelante, el "Usuario"), implicando necesariamente la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en los términos y condiciones generales de acceso y uso del mismo.

        p El Usuario queda expresamente apercibido y acepta que estas condiciones podrán experimentar variaciones en el futuro a libre criterio de UrbHair y sin obligación alguna de aviso previo por su parte. En consecuencia, será de la sola responsabilidad del Usuario verificar los términos y condiciones vigentes en cada una de las ocasiones en que se proponga utilizar el SITIO WEB.

        p La utilización de ciertos servicios ofrecidos a los Usuarios a través del SITIO WEB -en particular el ENTORNO TRANSACCIONAL o TIENDA ON-LINE del SITIO WEB- podrá encontrarse sometida a condiciones particulares (en adelante, las "Condiciones Particulares") que, según los casos, podrán sustituir, completar y/o modificar los presentes términos y condiciones generales.
  include _footer
