extends layout
block content
  include _navbar
  .container
    .row
      .col.s12.m6.offset-m3
        form(action="/login" method="post")
          .card
            .card-content
              form(action="/login" method="post")
                .input-field
                  input#email(type="email" name="email" required)
                  label(for="email") Email
                .input-field
                  input#password(type="password" name="password" required)
                  label(for="password") Contraseña
            .card-action
              button.btn.waves-effect.waves-light(type="submit")
                i(class="fa fa-sign-in left" aria-hidden="true")
                | Entrar
          if error
            .red-text.center-align
              span Usuario o contraseña incorrectos
    .row
      .col.s12.m6.offset-m3.center-align
        p
          a(href="#") ¿Se te ha olvidado la contraseña?
        p ¿No tienes cuenta? #[a(href="/register") Regístrate]
