extends layout
block content
  .container
    .row
      form(action="/login" method="post")
        .col.s12.m6.input-field
          input(type="email" name="email" placeholder="Escriba aquí tu email")
        .col.s12.m6.input-field
          input(type="password" name="password" placeholder="Escriba aquí tu contraseña")
        .col.s12
          button.btn(type="submit") Entrar
