extends layout
block seo
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bellefair")
  title=professional.fullname
block content
  .fixed-action-btn
    a.btn-floating.btn-large.red(href="tel:#{professional.phone}")
      i.fa.fa-phone(aria-hidden="true")
